<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head", { pageTitle: pageTitle, homepage: homepage }) %>
  <body>
    <%- include("../partials/header", { currentPage: currentPage, homepage: homepage }) %>

    <main class="page-main">
      <%- include("../partials/sections/hero-carousel", { homepage: homepage }) %>
      <%- include("../partials/sections/intro", { homepage: homepage }) %>
      <%- include("../partials/sections/content-cards", { homepage: homepage }) %>
      <%- include("../partials/sections/story", { homepage: homepage }) %>
      <%- include("../partials/sections/services-tabs", { homepage: homepage }) %>
      <%- include("../partials/sections/gallery", { homepage: homepage }) %>
      <%- include("../partials/sections/stats", { homepage: homepage }) %>
      <%- include("../partials/sections/breaker", { breaker: homepage.breakers[0] }) %>
      <%- include("../partials/sections/progress", { homepage: homepage }) %>
      <%- include("../partials/sections/resources-intro", { homepage: homepage }) %>
      <%- include("../partials/sections/resources-tabs", { homepage: homepage }) %>
      <%- include("../partials/sections/breaker", { breaker: homepage.breakers[1] }) %>
      <%- include("../partials/sections/contact-form") %>
    </main>

    <%- include("../partials/footer") %>
  </body>
</html>
