<section class="section-space" id="story">
  <div class="container">
    <div class="row align-items-center g-5">
      <div class="col-lg-7 order-2 order-lg-1">
        <h2 class="h2 mb-3"><%= homepage.story.title %></h2>
        <p class="text-secondary fs-5"><%= homepage.story.text %></p>
        <a href="<%= homepage.story.buttonHref %>" class="btn btn-primary mt-2"><%= homepage.story.buttonLabel %></a>
      </div>
      <div class="col-lg-5 order-1 order-lg-2">
        <img src="<%= homepage.story.image %>" class="img-fluid rounded-4 shadow-sm" alt="<%= homepage.story.title %>">
      </div>
    </div>
  </div>
</section>
